<!-- Event
* Event title & date, time, and location
================================================== -->
<div id="section-header">
    <div class="container">
        <div class="seven columns newlogo">
            <h1>
                <a href="{{ site.url }}"><img src="{{ site.url }}/images/brusselsphp/bxl_php_logo_white.png" alt="Brussels PHP"></a>
            </h1>
        </div>
        <div class="clear"></div>
    </div><!-- // .container -->

    {% if no_next_event_banner is not defined %}
    {% include 'next-event.html' %}
    {% endif %}
</div><!-- // #section-header -->
