
<!-- Schedule
================================================== -->
<div id="section-programs">
    <div class="container">
        <div class="sixteen columns">
            <h2>Course of the evening</h2>

            <table>
                <thead>
                <tr class="even">
                    <td class="column-first">Hour</td>
                    <td class="column-second">Program</td>
                </tr>
                </thead>
                <tbody>
                {% for timing in page.timings %}
                <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                    <td class="column-first">{{ timing.hour }}</td>
                    <td class="column-second">
                        {% if timing.link %}
                            <a href="{{ timing.link }}">
                        {% endif %}
                            <h3>{{ timing.content }} :</h3>
                        {% if timing.link %}
                            </a>
                        {% endif %}
                        {% if timing.abstract %}
                            <p>{{ timing.abstract | nl2br}}</p>
                        {% endif %}
                        {% if timing.link %}
                        <a href="{{ timing.link }}">
                            <h1>Register</h1>
                        </a>
                        {% endif %}
                        {% if timing.joindin %}
                            <a href="https://joind.in/talk/view/{{timing.joindin}}">Rate the talk</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor%}
                </tbody>
                {% if page.sponsor %}
                {% set sponsorname = (page.sponsor.name | trim | length) == 0 ? 'To be annouced' : 'by ' ~ page.sponsor.name %}
                {% set sponsorurl = (page.sponsor.url | trim | length) == 0 ? 'http://brusselsphp.be/sponsorship/' : page.sponsor.url %}
                <tfoot>
                <tr class="odd">
                    <td class="column-first" colspan="2">
                        <span id="line-sponsor">
                            Sponsored
                            <span class="font-blue">
                                <a href="{{ sponsorurl }}" title="{{ sponsorname }}">
                                    {{ sponsorname }}
                                </a>
                            </span>
                        </span>
                    </td>
                </tr>
                </tfoot>
                {% endif %}
            </table>
        </div><!-- // .sixteen -->

        <div class="clear"></div>
    </div><!-- // .container -->
</div><!-- // #section-programs -->
