<!-- Intervenants
================================================== -->
<div id="section-speakers">
    <div class="container">

        <div class="eight columns">
            <h2>Speaker</h2>

        </div><!-- // .eight -->

        <div class="eight columns">
            <div class="item">
                {% if page.speaker.photo %}
                <img src="{{ page.speaker.photo }}" alt="" height="220" width="440">
                {% endif %}
                <h3>{{ page.speaker.name }}<br>
                    {% if page.speaker.title %}
                    <span class="speaker-title">{{ page.speaker.title }}</span>
                    {% endif %}
                </h3>
                <p>{{ page.speaker.bio }}</p>
            </div><!-- // .item -->
        </div><!-- // .eight -->

        <div class="clear"></div>

    </div><!-- // .container -->
</div><!-- // #section-speakers -->