<!-- Intervenants
================================================== -->
<div id="section-speakers">
    <div class="container">

        <div class="eight columns">
            <h2>Speaker{{ page.speakers | length > 1 ? 's':''}}</h2>

        </div><!-- // .eight -->
        <div class="clear"></div>

        {% for speaker in page.speakers %}
        <div class="four columns">
            <div class="item">
                {% if speaker.photo %}
                <img src="{{ site.url }}/images/speakers/{{ speaker.photo }}" alt="{{ speaker.name }}" class="speaker-photo">
                {% endif %}
            </div>
        </div>
        <div class="twelve columns">
            <div class="item">
                <h3>
                    {% if speaker.twitter %}
                        <a href="https://twitter.com/{{ speaker.twitter }}">
                    {% endif %}

                    {{ speaker.name }}

                    {% if speaker.twitter %}
                        </a>
                    {% endif %}
                    <br>
                    {% if speaker.title %}
                    <span class="speaker-title">{{ speaker.title }}</span>
                    {% endif %}
                </h3>
                <p>{{ speaker.bio }}</p>
            </div><!-- // .item -->
        </div><!-- // .eight -->

        <div class="clear"></div>
        {% endfor %}

    </div><!-- // .container -->
</div><!-- // #section-speakers -->