---
layout: default
title: Code of Conduct
---
{% set no_event_menu = true %}
{% block content_wrapper %}

{% set no_next_event_banner = true %}

{% include 'header.html' %}
<!-- 404
================================================== -->
<div id="section-content">
    <div class="container">

        <div class="sixteen columns code-of-conduct">
            <h1>Code of Conduct</h1>


            <p>Brussels is a melting pot of cultures and languages. It's mix of residents and tourists lead to unique combinations and every tech group inherits this diversity. Much like Brussels, our development community is also diverse in many aspects, from our origins and culture to our choice of framework and language.</p>

            <p>BrusselsPHP wishes to create a friendly environment for every developer it encounters, everyone should feel comfortable and safe in our events and online community. More than that we wish this community to be a meeting point, a place where you can come and make new friends.</p>

            <p>The spirit of BrusselsPHP has always been into helping developers find a safe place to meet peers and grow a better network and exposing the local community to new/different ideas and content.</p>

            <p>This CoC is a formalization of our beliefs, it is here to offer to you, our member, the guarantee that we will do our best to provide you with a safe environment in which to grow your knowledge base and your network. For this we count on you also, to be aware of our inherent differences and to respect different opinions and cultures, to be respectful and kind to others. </p>

            <p>Organizers of BrusselsPHP reserve the right to remove any participant, violating the spirit of this code, from the premises and take further action as necessary, be that reporting to higher authorities or banning members from future events and participation.</p>

            <p><em>Harassment includes offensive verbal comments related to gender, age, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</em></p>

            <p>These values and rules extend to everyone, members, invited speakers, sponsors and anyone participating in the User Group and any of our activities.</p>

            <p>We also count on you to be discreet and report any issues privately to our organizers so they can be handled in the best way possible without causing embarrassment and further stress to any of the involved parties.</p>

            <p>This is your community, its up to you to keep it safe and welcoming. Welcome to our group, we wish you great times and enjoyment while you are with us, and hope to launch each of you into a bright future, either with knowledge and friends or by helping you become a speaker or library developer.</p>

            <p><b>Welcome to BrusselsPHP</b></p>

        </div>

        <div class="clear"></div>

    </div><!-- // .container -->
</div><!-- // #404 -->
{% endblock %}