---
layout: default
title: Sponsorship
---
{% set no_event_menu = true %}
{% block content_wrapper %}

{% set no_next_event_banner = true %}

{% include 'header.html' %}
<!-- 404
================================================== -->
<div id="section-content">
    <div class="container">
        <div class="sixteen columns">
            <h2>Sponsorship</h2>
        </div><!-- // .sixteen -->

        <div class="clear"></div>

        <div class="sixteen columns">
            <h3>Marketing to developers can be challenging</h3>
            <p class="headline">Reaching the develloper community can be a real challenge.</p>
            <p class="headline">Devellopers are a tricky sell - Highly resistant to traditionnal marketing effort.</p>
            <p class="headline">They are the classic "don't call us, we will call you" prospects.</p>
        </div><!-- // .eight -->

        <div class="clear"></div>

    </div><!-- // .container -->
</div><!-- // #404 -->
{% endblock %}