---
layout: default
title: Sponsors
---
{% set no_event_menu = true %}
{% block content %}
{% set no_next_event_banner = true %}

{% include 'header.html' %}


<!-- Sponsors
================================================== -->
<div id="section-content">
    <div class="container">

        <div class="eight columns">
            <h2>Sponsors</h2>

        </div><!-- // .eight -->
        <div class="clear"></div>

        {% for line in site.sponsors %}
            {% for sponsor in line %}
            <div class="height columns {{ sponsor.class }}">
                <div class="item">
                    {% if sponsor.url %}
                    <a href="{{ sponsor.url }}">
                    {% endif %}
                        {% if sponsor.logo %}
                        <img src="{{ site.url }}/images/sponsors/{{ sponsor.logo }}" alt="" height="220" width="440">
                        {% else %}
                        <h3>{{ sponsor.name }}</h3>
                        {% endif %}
                    {% if sponsor.url %}
                    </a>
                    {% endif %}
                </div><!-- // .item -->
            </div><!-- // .eight -->

            {% if loop.index0 == 1 %}
            <div class="clear"></div>
            {% endif %}
            {% endfor %}
        {% endfor %}

    </div><!-- // .container -->
</div><!-- // #section-speakers -->
{% endblock %}